{% extends 'base.html' %}

{% block content %}
<style>

</style>
<div class="container">
    <div class="row">

    <div id="about"> <!-- This is the "About" section -->
        <div class="profile-info">
            <h4 class="heading">Basic info</h4>
            <p class="bio">{{ user.bio }}</p>
            <p><i class="ri-user-fill"></i>{{ user.get_gender_display }}</p><span class="label">Gender</span>
            <p><i class="ri-heart-fill"></i>{{ user.interests }}</p><span class="label">Interests</span>
            <p><i class="ri-calendar-todo-fill"></i>{{ user.birth_date }}</p><span class="label">Birthday</span>
            <h4 class="heading">Contact info</h4>
            <p><i class="ri-phone-line"></i><span class="phone-number">{{ user.phone_number }}</span></p>
            <span class="label">Mobile</span>
            <p><i class="ri-mail-fill"></i> {{ user.email }}</p><span class="label">Email</span>
            <div class="update-profile">
                <a href="{% url 'add_contact' %}" class="add-no" title="add-contact">Edit contact</a>
            </div>
            <h4 class="heading">Places Lived</h4>
            <p><i class="ri-community-fill"></i> {{ user.address }}</p><span class="label">Address</span>
        </div>
        <h4 class="heading">Social Presence</h4>
        <div class="social-links">
            <ul>
                {% for social in user.social_profiles.all %}
                    <li><i class="{{ social.icon_class }}"></i><a href="{{ social.url }}" target="_blank">{{ social.name }}</a></li>
                {% empty %}
                    <li><i class="ri-facebook-circle-fill"></i><a href="{% url 'user_edit' pk=user.id %}" target="_blank">Add your Facebook link</a></li>
                    <li><i class="ri-twitter-x-line"></i><a href="{% url 'user_edit' pk=user.id %}" target="_blank">Add your Twitter link</a></li>
                    <li><i class="ri-linkedin-box-fill"></i><a href="{% url 'user_edit' pk=user.id %}" target="_blank">Add your LinkedIn link</a></li>
                {% endfor %}
            </ul>
        </div>
    </div> <!-- End of the "About" section -->

    <div class="edit-link">
        <a href="{% url 'user_edit' pk=user.id %}" class="user-link" title="Edit User Profile">Edit your details</a>
    </di>
    <br>
    <br>
      <!-- Videos -->
      <div class="video-clips-wrapper">
        <div class="media-title">
            <h2>Videos</h2>
        </div>
        <div class="video-clips">
            {% for item in media %}
                {% if item.media_type == 'video' %}
                    <div class="video-wrapper">
                        <div class="media">
                            <div class="user-profile">
                                {% if request.user.profile_picture %}
                                    <img src="{{ request.user.profile_picture.url }}" alt="Profile Picture" class="profile-image">
                                {% else %}
                                    <img src="/media/test-image.jpg" alt="Default Profile Picture" class="profile-image">
                                {% endif %}
                            </div>
                            <div class="media-info">
                                <h4 class="video-title max-lines">{{ item.title }}</h4>
                                <p class="uploaded-info">{{ item.uploaded_by }}</p>
                                <p class="uploaded-info">{{ item.created_time|date:"F d, Y H:i:s" }}</p>
                            </div>
                        </div>
                        <div class="video-thumbnail">
                            <video controls>
                                <source src="{{ item.file }}" type="video/mp4">
                            </video>
                        </div>
                        <div class="video-actions">
                            <!-- Like button -->
                            <span class="actions"><i class="ri-thumb-up-line"></i><button class="like-button">Like</button>
                        </span>
                            <!-- Message button -->
                            <span class="actions"><i class="ri-chat-1-line"></i><button class="message-button">Comment</button>
                        </span>
                            <!-- Share button -->
                            <span class="actions"><i class="ri-share-forward-fill"></i><button class="share-button">Share</button>
                        </span>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        
    <br>
    <!-- Audios -->
    <div class="audio-clips">
        <div class="media-title">
            <h2>Audios</h2>
        </div>
        {% for item in media %}
            {% if item.media_type == 'audio' %}
                <div class="audio-wrapper">
                    <audio controls>
                        <source src="{{ item.file }}" type="audio/mp3">
                    </audio>
                    <span>{{ item.title }}</span>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <br>
    <br>
    <!-- Images -->
    <div class="images-wrapper">
        <div class="media-title">
            <h2>Images</h2>
        </div>
        <div class="images">
            {% for item in media %}
                {% if item.media_type == 'image' %}
                    <div class="image-wrapper">
                        <a href="{{ item.file }}" target="_blank">
                            <img src="{{ item.file }}" alt="{{ item.title }}">
                            <span>{{ item.title }}</span>
                        </a>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <br>
    <br>
    <!-- Files -->
    <div class="files">
        <div class="media-title">
            <h2>Files</h2>
        </div>
        {% for item in media %}
            {% if item.media_type == 'file' %}
                <div class="file-wrapper">
                    <a href="{{ item.file }}" target="_blank" download="{{ item.title }}">
                        <span>{{ item.title }}</span>
                    </a>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
</div>
{% endblock %}
