{% extends 'base.html' %}

{% block content %}
  <h1>Edit Profile</h1>

  <!-- Display the current profile picture -->
  <a href="{% url 'user_profile' %}">
    <img src="{% if user.profile_picture %}{{ user.profile_picture.url }}{% else %}/media/test-image.jpg{% endif %}" class="avatar" alt="Avatar">
  </a>

  <!-- Form for updating the profile picture -->
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="profile_picture">
    <button type="submit">Update Profile Picture</button>
  </form>

  {% if form.errors %}
    <ul>
      {% for field, errors in form.errors.items %}
        <li>{{ field }}: {{ errors }}</li>
      {% endfor %}
    </ul>
  {% endif %}

  <!-- Form for editing user information -->
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Save Changes</button>
  </form>
{% endblock %}
