{% extends 'base.html' %}

{% block content %}
    <h1>Media Search Results</h1>
    <!-- Displaying search results -->
    <div>
        <h2>Search Results</h2>
        {% if results %}
            <ul>
                {% for media_item in results %}
                    {% if media_item.media_type == 'video' %}
                        <!-- Video Media -->
                        <div class="video-wrapper">
                            <video controls>
                                <source src="{{ media_item.file }}" type="video/mp4">
                            </video>
                            <div class="media-info">     
                                <h4 class="video-title max-lines">{{ media_item.title }}</h4>
                                <p>Uploaded by: {% if media_item.media_type == 'video' %}{{ media_item.uploaded_by }}{% endif %}</p>
                                <p>Uploaded time: {% if media_item.media_type == 'video' %}{{ media_item.created_time|date:"F d, Y H:i:s" }}{% endif %}</p>
                            </div>
                        </div>
                    {% elif media_item.media_type == 'audio' %}
                        <!-- Audio Media -->
                        <div class="audio-wrapper">
                            <audio controls>
                                <source src="{{ media_item.file }}" type="audio/mp3">
                            </audio>
                            <span>{{ media_item.title }}</span>
                        </div>
                    {% elif media_item.media_type == 'image' %}
                        <!-- Image Media -->
                        <div class="image-wrapper">
                            <a href="{{ media_item.file }}" target="_self">
                                <img src="{{ media_item.file }}" alt="{{ media_item.title }}">
                                <span>{{ media_item.title }}</span>
                            </a>
                        </div>
                    {% elif media_item.media_type == 'file' %}
                        <!-- File Media -->
                        <div class="file-wrapper">
                            <a href="{{ media_item.file }}" target="_self" download="{{ media_item.title }}">
                                <span>{{ media_item.title }}</span>
                            </a>
                        </div>
                    {% endif %}
                {% endfor %}
            </ul>
        {% else %}
            <p>No results found.</p>
        {% endif %}
    </div>
</div>
{% endblock %}
