{% extends 'base.html' %}

{% block title %}Archive | News and Updates{% endblock %}

{% block content %}
<div class="content">
    <h1>Upcoming Events</h1>
    <div class="inner-content">
        <div class="media-collection">
            <!-- Media Categories Tab Buttons -->
            <div class="tab-buttons">
                <div class="tab-button" onclick="showCategory('all')" data-category="all">All Media</div>
                <div class="tab-button" onclick="showCategory('videos')" data-category="videos">Videos</div>
                <div class="tab-button" onclick="showCategory('audios')" data-category="audios">Audios</div>
                <div class="tab-button" onclick="showCategory('images')" data-category="images">Images</div>
                <div class="tab-button" onclick="showCategory('files')" data-category="files">Files</div>
            </div>

            <!-- Videos Tab Content -->
            <div id="videos" class="tab-content">
                <div class="video-clips-wrapper">
                    <div class="video-clips">
                        <!-- Video display loop -->
                        {% for item in media %}
                            {% if item.media_type == 'video' and item.category == 'news' %}
                            <div class="video-wrapper">
                            <div class="media">
                                <div class="user-profile">
                                    {% if request.user.profile_picture %}
                                        <img src="{{ request.user.profile_picture.url }}" alt="Profile Picture" class="profile-image">
                                    {% else %}
                                        <img src="/media/test-image.jpg" alt="Default Profile Picture" class="profile-image">
                                    {% endif %}
                                </div>
                                <div class="media-info">
                                    <h4 class="video-title max-lines">{{ item.title }}</h4>
                                    <p class="uploaded-info">{{ item.uploaded_by }}</p>
                                    <p class="uploaded-info">{{ item.created_time|date:"F d, Y H:i:s" }}</p>
                                </div>
                            </div>
                            <div class="video-thumbnail">
                                <video controls>
                                    <source src="{{ item.file }}" type="video/mp4">
                                </video>
                            </div>
                            <div class="video-actions">
                                <!-- Like button -->
                                <span class="actions"><i class="ri-thumb-up-line"></i><button class="like-button">Like</button>
                            </span>
                                <!-- Message button -->
                                <span class="actions"><i class="ri-chat-1-line"></i><button class="message-button">Comment</button>
                            </span>
                                <!-- Share button -->
                                <span class="actions"><i class="ri-share-forward-fill"></i><button class="share-button">Share</button>
                            </span>
                            </div>
                        </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>

              <!-- Audios Tab Content -->
<div id="audios" class="tab-content">
    <div class="audio-clips">
        <div class="media-title">
            <h2>Audios</h2>
        </div>
        <!-- Audio display loop -->
        {% for item in media %}
            {% if item.media_type == 'audio' and item.category == 'news' %}
            <div class="audio-wrapper">
                <div class="audio-header" onclick="toggleAudioPlaylist(this)">
                    <i class="fas fa-music"></i>
                    <span>{{ item.title }}</span>
                </div>
                <div class="audio-playlist" style="display: none;">
                    <audio controls>
                        <source src="{{ item.file }}" type="audio/mp3">
                    </audio>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    </div>
</div>

            <!-- Images Tab Content -->
            <div id="images" class="tab-content">
                <div class="images-wrapper">
                    <div class="media-title">
                        <h2>Images</h2>
                    </div>
                    <div class="images">
                        <!-- Image display loop -->
                        {% for item in media %}
                            {% if item.media_type == 'image' and item.category == 'news' %}
                            <div class="image-wrapper">
                                <span>{{ item.title }}</span>
                                <a href="{{ item.file }}" target="_self">
                                    <img src="{{ item.file }}" alt="{{ item.title }}">
                                </a>
                            </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>

            <!-- Files Tab Content -->
            <div id="files" class="tab-content">
                <div class="files">
                    <div class="media-title">
                        <h2>Files</h2>
                    </div>
                    <!-- File display loop -->
                    {% for item in media %}
                        {% if item.media_type == 'file' and item.category == 'news' %}
                        <div class="file-wrapper">
                            <span>{{ item.title }}</span>
                            <a href="{{ item.file }}" target="_self" download="{{ item.title }}">
                                <svg class="file-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                    <rect x="2" y="2" width="20" height="20" rx="2.18" ry="2.18" />
                                    <line x1="12" y1="2" x2="12" y2="9" />
                                    <polyline points="10 9 12 7 14 9" />
                                </svg>
                            </a>
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>

            <!-- All Media Tab Content -->
            <div id="all" class="tab-content">
                <div class="all-media">
                    <div class="media-title">
                    </div>
                    <br>
                    <!-- All Media display loop -->
                    {% for item in media %}
                        {% if item.category == 'news' %}
                            <!-- display based on the media type -->
                            {% if item.media_type == 'video' %}
                            <div class="video-wrapper">
                                <div class="media">
                                    <div class="user-profile">
                                        {% if request.user.profile_picture %}
                                            <img src="{{ request.user.profile_picture.url }}" alt="Profile Picture" class="profile-image">
                                        {% else %}
                                            <img src="/media/test-image.jpg" alt="Default Profile Picture" class="profile-image">
                                        {% endif %}
                                    </div>
                                    <div class="media-info">
                                        <h4 class="video-title max-lines">{{ item.title }}</h4>
                                        <p class="uploaded-info">{{ item.uploaded_by }}</p>
                                        <p class="uploaded-info">{{ item.created_time|date:"F d, Y H:i:s" }}</p>
                                    </div>
                                </div>
                                <div class="video-thumbnail">
                                    <video controls>
                                        <source src="{{ item.file }}" type="video/mp4">
                                    </video>
                                </div>
                                <div class="video-actions">
                                    <!-- Like button -->
                                    <span class="actions"><i class="ri-thumb-up-line"></i><button class="like-button">Like</button>
                                </span>
                                    <!-- Message button -->
                                    <span class="actions"><i class="ri-chat-1-line"></i><button class="message-button">Comment</button>
                                </span>
                                    <!-- Share button -->
                                    <span class="actions"><i class="ri-share-forward-fill"></i><button class="share-button">Share</button>
                                </span>
                                </div>
                            </div>
                            {% elif item.media_type == 'audio' %}
                            <div class="audio-wrapper">
                                <span>{{ item.title }}</span>
                                <audio controls>
                                    <source src="{{ item.file }}" type="audio/mp3">
                                </audio>
                            </div>
                            {% elif item.media_type == 'image' %}
                            <span>{{ item.title }}</span>
                            <div class="image-wrapper">
                                <a href="{{ item.file }}" target="_self">
                                    <img src="{{ item.file }}" alt="{{ item.title }}">
                                </a>
                            </div>
                            {% elif item.media_type == 'file' %}
                            <div class="file-wrapper">
                                <span>{{ item.title }}</span>
                                <a href="{{ item.file }}" target="_self" download="{{ item.title }}">
                                    <svg class="file-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                        <rect x="2" y="2" width="20" height="20" rx="2.18" ry="2.18" />
                                        <line x1="12" y1="2" x2="12" y2="9" />
                                        <polyline points="10 9 12 7 14 9" />
                                    </svg>
                                </a>
                            </div>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    // JavaScript function to show the selected category
    function showCategory(categoryName) {
        var i;
        var tabContent = document.getElementsByClassName("tab-content");
        for (i = 0; i < tabContent.length; i++) {
            tabContent[i].style.display = "none";
        }
        document.getElementById(categoryName).style.display = "block";

        // Add the active-tab-button class to the currently active tab button
        var tabButtons = document.getElementsByClassName("tab-button");
        for (i = 0; i < tabButtons.length; i++) {
            tabButtons[i].classList.remove("active-tab-button");
        }
        var activeTabButton = document.querySelector(".tab-button[data-category='" + categoryName + "']");
        if (activeTabButton) {
            activeTabButton.classList.add("active-tab-button");
        }
    }

    // Show the default category (e.g., All Media) when the page loads
    showCategory('all');
</script>

{% endblock %}
