{% extends 'base.html' %}

{% block title %}Archive | Sign Up{% endblock %}

{% block content %}
<div class="content">
    <h1>Signup</h1>
    <div class="form-content">
        <form method="post">
            {% csrf_token %}
            <div class="form-required">
                <small>Fields marked <sup>*</sup> are required</small>
            </div>
            <div class="form-row">
                <label for="id_username">Username<sup>*</sup></label>
                {{ form.username }}
                {{ form.username.errors }}
            </div>
            <div class="form-row">
                <label for="id_email">Email<sup>*</sup></label>
                {{ form.email }}
                {{ form.email.errors }}
            </div>
            <div class="form-row">
                <label for="id_password1">Password<sup>*</sup></label>
                {{ form.password1 }}
                {{ form.password1.errors }}
            </div>
            <div class="form-row">
                <label for="id_password2">Confirm Password<sup>*</sup></label>
                {{ form.password2 }}
                {{ form.password2.errors }}
            </div>
            <div class="form-submit">
                <button type="submit" title="Sign Up">Sign Up</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
