{% extends 'base.html' %}

{% block title %}Archive | User List{% endblock %}

{% block content %}
<div class="content">
  <h1>User List</h1>

  <div class="add-user-wrapper">
    <a href="{% url 'user_add' %}" title="Add User" class="add-user-link">Add User</a>
  </div>
  <div class="user-list">
    <div class="user-header">
      <span>First Name</span>
      <span>Middle Name</span>
      <span>Last Name</span>
      <span>Gender</span>
      <span>Role</span>
      <span>Email</span>
      <span>Is Active</span>
      <span>View</span>
      <span>Edit</span>
    </div>
    {% for user in users %}
    <div class="user">
      <span>{{ user.first_name }}</span>
      <span>{{ user.middle_name }}</span>
      <span>{{ user.last_name }}</span>
      <span>{{ user.gender }}</span>
      <span>{{ user.role }}</span>
      <span><a href="mailto:{{ user.email }}">{{ user.email }}</a></span>
      <span>{{ user.is_active }}</span>  
      <a href="{% url 'user_detail' pk=user.id %}" class="user-link" title="View User Profile">View User</a>
        <a href="{% url 'user_edit' pk=user.id %}" class="user-link" title="Edit User Profile">Edit User</a>
      </div>
    {% endfor %}
  </div>

  <style>
     .add-user-wrapper {
      display: inline-block;
      background-color: green;
      padding: 5px;
      border-radius: 5px;
      margin-bottom: 10px;
    }
 
  </style>
</div>
{% endblock %}
