{% extends 'base.html' %}

{% block title %}Users List{% endblock %}

{% block content %}
<div class="content">
  <h1>Users</h1>

  <div class="add-user-wrapper">
    <a href="{% url 'user_add' %}" title="Add User" class="add-user-link">Add User</a>
  </div>
  <div class="user-list">
    {% for user in users %}
      <div class="user">
        <a href="{% url 'profile' user.id %}" class="user-info">
          {% if user.profile_picture %}
            <img src="{{ user.profile_picture.url }}" alt="Profile Picture" class="profile-image-u">
          {% else %}
            <img src="/media/test-image.jpg" alt="Default Profile Picture" class="profile-image-u">
          {% endif %}
          <div class="user-name">
            <span><strong>{{ user.first_name }} {{ user.last_name }}</strong></span>
          </div>
          <div class="user-actions">
            <a href="{% url 'profile' user.id %}" class="user-link" title="View User Profile">View</a>
          </div>
        </a>
      </div>
    {% endfor %}
  </div>

</div>
{% endblock %}
