@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500;700&display=swap');
html,
body{
    width: 100%;
    min-height: 100vh;
    font-family: 'Raleway','Helvetica', sans-serif;
    line-height: 1.6;
    scroll-behavior: smooth;
}
:root{
    --color-jrm-red: #DD3333;
    --color-jrm-gold: #DBA860;
    --color-jrm-purple: #A7508B;
    --color-jrm-white: #FFFFFF;
    --color-jrm-black: #222222;
    --color-jrm-grey: #EEEEEE;

    --color-red: #CC0000;
    --color-dark-grey: #CCCCCC;

    --button-green: #4CAF50;
    --button-blue: #008CBA;

    --form-pink: pink;

    --transition-fast: 0.25s;
    --transition-medium: 0.5s;
    --transition-slow: 1s;

    --page-width-1000: 1000px;
    --page-width-1300: 1300px;

    --page-min-height-800: 800px;
}
.top-section{
    position: sticky;
    top: 0;
    z-index: 100000;
    overflow-x: hidden;
}
.mid-section{
    min-height: var(--page-min-height-800);
}
/* ==== HEADER ==== */
header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background: var(--color-jrm-black);
    position: relative;
}
header .logo,
header .burger-menu,
header nav{
    flex: 1 0 auto;
    width: 100%;
    color: var(--color-jrm-grey);
}
header .logo{ text-align: center; }
header .logo strong{
    font-size: 1.25rem;
}
header .burger-menu{
    cursor: pointer;
    padding: 1rem;
}
header .logo{
    max-width: 70%;
}
header .burger-menu{
    max-width: 30%;
}
@media (min-width: 1024px){
    header .logo{ max-width: 20%; }
    header nav { max-width: 80%; }
}
@media (max-width: 1023px){
    header nav{
        border-top: 1px solid var(--color-jrm-grey);
        max-height: 0;
        overflow: hidden;
        transition: max-height var(--transition-medium) ease-out;
    }
}
header .burger-menu .menu-bar{
    width: 40px;
    height: 5px;
    margin: 6px;
    margin-left: auto;
    border-radius: 50px;
    background: var(--color-jrm-grey);
}
@media (min-width: 1024px){
    header .burger-menu{
        display: none;
    }
}
header nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-left: auto;
}
@media (min-width: 1024px){
    header nav ul{ max-width: 800px; }
}
header nav ul li{
    flex: 1 0 auto;
    width: 100%;
    text-align: center;
    opacity: 0;
    transform: translateY(100%);
    animation: animateMenuLinks var(--transition-slow) ease-out 1 forwards;
}
@media (min-width: 1024px){
    header nav ul li{
        width: initial;
    }
}
@keyframes animateMenuLinks {
    0%{
        opacity: 0;
        transform: translateY(100%);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
header nav ul a{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 1rem;
    color: var(--color-jrm-grey);
    transition: var(--transition-fast) ease;
    position: relative;
}
header nav ul a:hover{
    color: var(--color-jrm-gold);
}
header nav ul a::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0;
    width: 0;
    height: 3px;
    background: var(--color-jrm-gold);
    transition: var(--transition-medium);
}
header nav ul a:hover:before{
    opacity: 1;
    width: 100%;
}
/* ==== CONTENT ==== */
main .content{
    padding: 2rem;
}
/* ==== FOOTER ==== */
footer{
    padding: 2rem;
    overflow-x: hidden;
    background: var(--color-jrm-grey);
}
footer .socials{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin: 1.55rem auto;
    width: 100%;
    max-width: 300px;
    place-items: center;
}
footer .socials .social-icon{
    width: 50px;
    transform: scale(1);
    transition: var(--transition-medium) ease;
}
footer .socials .social-icon:hover{
    transform: scale(0.9);
}
footer .socials .social-icon svg{
    width: 50px;
    height: 50px;
}
footer .copyright{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
footer .copyright span{
    flex: 1 0 auto;
    width: 100%;
    text-align: center;
}
/* FORMS */
.form-content{
    display: block;
    width: 100%;
    max-width: var(--page-width-1000);
    margin: 0 auto;
}
.form-content sup{
    font-size: 2rem;
    margin: 0 5px;
    position: relative;
    top: 1.2rem;
    color: var(--color-red);
}
.form-content .form-row{
    display: flex;
    flex-direction: column;
    margin-bottom: 0.25rem;
}
.form-row label{
    margin-bottom: 0.35rem;
}
.form-row input[type="text"],
.form-row input[type="email"],
.form-row input[type="password"],
.form-row input[type="tel"],
.form-row select {
    padding: 10px 5px;
    font-size: 1rem;
    outline: none;
    border: 1px solid var(--color-dark-grey);
    border-radius: 5px;
    transition: var(--transition-fast) linear;
}
.form-row input[type="text"]:focus,
.form-row input[type="email"]:focus,
.form-row input[type="password"]:focus,
.form-row input[type="tel"]:focus{
    border: 1px solid var(--color-jrm-black);
    background: var(--color-jrm-grey);
}
.form-row textarea{
    resize: none;
    outline: none;
    min-height: 250px;
    border: 1px solid var(--color-dark-grey);
    border-radius: 5px;
}
.form-submit{
    margin: 1.5rem 0;
}
.form-submit button[type="submit"]{
    position: relative;
    cursor: pointer;
    outline: none;
    border: 0;
    text-align: center;
    width: 100%;
    padding: 15px 25px;
    font-size: 1rem;
    border-radius: 5px;
    color: var(--color-jrm-white);
    background: var(--button-green);
    transition: var(--transition-fast) linear;
    z-index: 1;
}
@media (min-width: 767px){
    .form-submit button[type="submit"]{
        width: initial;
    }
}
.form-submit button[type="submit"]::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    opacity: 0;
    height: 100%;
    background: var(--button-blue);
    transition: var(--transition-fast) linear;
    border-radius: inherit;
    z-index: -1;
}
.form-submit button[type="submit"]:hover:before{
    opacity: 1;
    width: 100%;
}
.form-error.true{
    border: 1px solid var(--color-red) !important;
    background: rgba(204,0,0,0.1);
}
.form-notification-error {
    margin: 2rem 0;
    padding: 2rem;
    color: var(--color-red);
    font-weight: 500;
    background: rgba(204,0,0,0.1);
    border-radius: 5px;
    border: 2px solid rgba(204,0,0,0.3);
}
/* ==== MEDIA ARCHIVE ==== */
.archive-content{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    position: relative;
}
@media (min-width: 1024px){
    .archive-content{
        grid-template-columns: repeat(2, 1fr);
    }
}
.archive-media{
    overflow: hidden;
    overflow-y: auto;
    min-height: var(--page-min-height-800);
}
/* ==== USER LIST ==== */
.user-list{
    border: 1px solid var(--color-dark-grey);
    overflow: hidden;
    overflow-x: auto;
    width: 100%;
    max-width: var(--page-width-1300);
}
.user-header,
.user{
    display: grid;
    grid-template-columns: repeat(9 ,1fr);
    border-radius: 15px;
}
.user{
    align-items: center;
}
.user:hover{
    background: var(--color-jrm-grey);
}
.user:nth-child(even){
    background: rgba(238,238,238,0.3);
}
.user-header span{
    border: 1px solid var(--color-jrm-grey);
    font-weight: 600;
}
.user-header span,
.user span{
    padding: 5px;
    font-size: 0.9rem;
    width: 100%;
    max-width: 106px;
    word-wrap: break-word;
}
.user span a{
    display: inline;
}
/* Styles for home.html */

